@model List<City>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>CountryCode</td>
        <td>District</td>
        <td>Population</td>
    </tr>
    @foreach(City city in Model) {
        <tr>
            <td>@city.Id</td>
            <td>@city.Name</td>
            <td>@city.CountryCode</td>
            <td>@city.District</td>
            <td>@city.Population</td>
        </tr>
    }
</table>
